<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Consulta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
<div class="container mt-5">
    <h1>Cadastro de Consulta</h1>
    <form method="post" action="/consultas/cadastro">
        <div class="form-group">
            <label for="dentista_id">Dentista:</label>
            <select class="form-control" id="dentista_id" name="dentista_id" required>
                <option value="">Selecione um dentista</option>
                <!-- Loop para popular os dentistas -->
                <th:block th:each="dentista : ${dentistas}">
                    <option th:value="${dentista.id}" th:text="${dentista.nome}"></option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label for="paciente_id">Paciente:</label>
            <select class="form-control" id="paciente_id" name="paciente_id" required>
                <option value="">Selecione um paciente</option>
                <!-- Loop para popular os pacientes -->
                <th:block th:each="paciente : ${pacientes}">
                    <option th:value="${paciente.id}" th:text="${paciente.nome}"></option>
                </th:block>
            </select>

        </div>
        <div class="form-group">
            <label for="data_consulta">Data da consulta:</label>
            <input type="date" class="form-control" id="data_consulta" name="data_consulta" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4+Nc"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNVQ8vc"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
